<!DOCTYPE html>
<html>
<head>
    <title>Subject Tips</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<a href="/">Home</a> |
<a href="/timetable">Timetable</a> |
<a href="/subjects">Subject Tips</a>
<a href="/contact">Contact</a>
<hr>

<h1>Subject-wise Tips</h1>

<h2>Mathematics</h2>
<p>Practice questions every day.</p>

<h2>Science</h2>
<p>Understand concepts and diagrams.</p>

<h2>English</h2>
<p>Improve writing and grammar.</p>

</body>
</html>
