<!DOCTYPE html>
<html>
<head>
    <title>Topper's Strategy</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<a href="/">Home</a> |
<a href="/timetable">Timetable</a> |
<a href="/subjects">Subject Tips</a> |
<a href="/contact">Contact</a> |
<a href="/topper">Topper's Strategy</a>

<hr>

<h1>Topper's Strategy</h1>

<ol>
    <li>Study daily without skipping.</li>
    <li>Revise every week.</li>
    <li>Solve previous year papers.</li>
    <li>Make short notes.</li>
    <li>Focus on NCERT books.</li>
    <li>Sleep 7–8 hours daily.</li>
</ol>

</body>
</html>
<!DOCTYPE html>
<html>
<head>
    <title>Topper</title>
</head>
<body>
    <h1>School Topper</h1>

    <h2>Abhishek Kumar Singh</h2>
    <p>Class 10</p>
    <p>Marks: 495/500</p>

</body>
</html>
<button onclick="darkMode()">Dark Mode</button>

<script>
function darkMode() {
    document.body.classList.toggle("dark");
}
</script>
